PYTHONPATH=/app
FLASK_DEBUG=true
APP_SECRET_KEY="your-secret-key"
MONGO_URI="mongodb://root:password@mongo:27017/admonish-grumbler-db?authSource=admin"
GEMINI_API_KEY="your-gemini-api-key"
SENDGRID_API_KEY="your-sendgrid-api-key"
SENDGRID_FROM_EMAIL="your-verified-sender@example.com"
