.textarea {
  resize: vertical !important;
  width: 300px;
  height: 200px;
}

/* 投稿内容におけるURLの折返し */
article a {
  word-break: break-all;
}

.media-content pre {
  white-space: pre-wrap; /* CSS 3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}
