<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <title>{% block title %}{% endblock %}</title>
  <!-- 他の共通のhead要素を追加 -->
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="notification">
        <button class="delete"></button>
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  <!-- 他の共通のbody要素を追加 -->
  {% block content %}
  {% endblock %}
</body>
</html>
