{% extends "base.html" %}

{% block title %}
  admonish-grumbler
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column is-one-quarter">
    <!-- 左メニュー -->
    <aside class="menu">
      <p class="menu-label">Menu</p>
      <ul class="menu-list">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">プロフィール</a></li>
        <li><a href="#">設定</a></li>
      </ul>
    </aside>
  </div>
  <div class="column is-9">
    <!-- 投稿フォーム -->
    <div class="box">
      <form id="postForm">
        <div class="field">
          <div class="control">
            <textarea class="textarea" placeholder="さあ、愚痴を入力してください！どんどん吐き出してスッキリしましょう！" name="content"
            width=""></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">投稿</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 投稿リスト -->
    <section class="section">
      {% for post in data.posts %}
      <article class="media box">
          <figure class="media-left">
              <p class="image is-64x64">
                  <!-- replace with your avatar url -->
                  <img src="{{ session["avatar"] }}" alt="User avatar">
              </p>
          </figure>
          <div class="media-content">
              <div class="content">
                  <p>
                      <strong>{{ session["name"] }}</strong> <small>{{ post.timestamp }}</small>
                      <br>
                      {{ post.content | safe }}
                  </p>
              </div>
              <nav class="level is-mobile">
                  <div class="level-left">
                      <a class="level-item">
                          <span class="icon is-small"><i class="fas fa-reply"></i></span>
                      </a>
                      <a class="level-item">
                          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                      </a>
                      <a class="level-item">
                          <span class="icon is-small"><i class="fas fa-heart"></i></span>
                      </a>
                      <div class="level-right">
                          <a class="level-item delete-post-button" data-post-id="{{ post.id }}" href="#">
                              <span class="icon is-small"><i class="fas fa-trash"></i></span>
                          </a>
                      </div>
                  </div>
              </nav>
          </div>
      </article>
      {% endfor %}
      <!-- ページネーションの表示 -->
      <div class="pagination is-centered">
        {% if data.current_page > 1 %}
          <a class="pagination-link" href="/page/{{ data.current_page - 1 }}">前のページ</a>
        {% endif %}

        {% for page in range(1, data.total_pages + 1) %}
          {% if page == data.current_page %}
            <a class="pagination-link is-current" href="/page/{{ page }}">{{ page }}</a>
          {% else %}
            <a class="pagination-link" href="/page/{{ page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if data.current_page < data.total_pages %}
          <a class="pagination-link" href="/page/{{ data.current_page + 1 }}">次のページ</a>
        {% endif %}
      </div>
    </section>
  </div>
</div>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
