{% extends "base.html" %}

{% block title %}
  admonish-grumbler
{% endblock %}

{% block content %}
<div class="columns">
  <div class="column is-one-quarter">
    <!-- 左メニュー -->
    <aside class="menu">
      <p class="menu-label">Menu</p>
      <ul class="menu-list">
        <li><a href="#">ホーム</a></li>
        <li><a href="#">プロフィール</a></li>
        <li><a href="#">設定</a></li>
      </ul>
    </aside>
  </div>
  <div class="column">
    <!-- 投稿フォーム -->
    <div class="box">
      <form id="postForm">
        <div class="field">
          <div class="control">
            <textarea class="textarea" placeholder="さあ、愚痴を入力してください！どんどん吐き出してスッキリしましょう！" name="content"></textarea>
          </div>
        </div>
        <div class="field">
          <div class="control">
            <button class="button is-primary" type="submit">投稿</button>
          </div>
        </div>
      </form>
    </div>
    <!-- 投稿リスト -->
    <div class="container">
    {% for post in posts %}
    <article class="media box">
        <figure class="media-left">
            <p class="image is-64x64">
                <!-- replace with your avatar url -->
                <img src="{{ session["avatar"] }}" alt="User avatar">
            </p>
        </figure>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong>{{ session["name"] }}</strong> <small>{{ post.timestamp }}</small>
                    <br>
                    {{ post.content }}
                </p>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                    </a>
                    <a class="level-item">
                        <span class="icon is-small"><i class="fas fa-heart"></i></span>
                    </a>
                </div>
            </nav>
        </div>
    </article>
    {% endfor %}
</div>
  </div>
</div>
<script>
  document.getElementById('postForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var content = document.querySelector('textarea[name="content"]').value;
    fetch('/post', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({ content: content }),
    })
    .then(function(response) {
      if (response.ok) {
        console.log('愚痴の投稿に成功しました🤓');
        document.querySelector('textarea[name="content"]').value = ''; // テキストエリアをクリア
        // ここで投稿データを追加表示するなどの処理を行う
      } else {
        console.log('愚痴の投稿に失敗しました😭');
      }
    })
    .catch(function(error) {
      console.log('通信エラー:', error);
    });
  });
</script>
{% endblock %}
